
:root{
    --gris-fondo: rgb(240, 240, 240); 
    --blanco-card: #ffff;
    --azul-titulo: rgb(3, 3, 128);
    --azul-cursor: rgb(0, 0, 219);
    --azul-click: rgb(12, 12, 70);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--gris-fondo);
}

/*Encabezado*/
.header{
    background-color: rgb(3, 3, 128);
    text-align: center;
    color: var(--blanco-card);
    padding: 10px 0;
}

.header-title{
    color: var(--blanco-card);    
    padding: 10px 0;
    text-transform: uppercase; /*text mayuscula*/
}

/*Respuesta*/
.answer{
    text-align: center;
    padding: 10px 0;
}

.answer-p{
    color: var(--azul-titulo);
}

.answer p{
    font-size: 25px;
    font-weight: bold;
}

/*Contenedor*/
.figures{
    width: 90%;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    max-width: 1000px;
}

/*Cajas*/
.box{
    width: 30%;
    height: 600px;
    background-color: var(--blanco-card);
    border-radius: 10px;
    margin: 15px;
    float: left;
}

/*Encabezado*/
.box-header{
    background-color: var(--azul-titulo);
    text-align: center;
    padding: 15px 0;
    color: var(--blanco-card);
    border-radius: 10px 10px 0 0;
}

.box-main{
    text-align: center;
    padding: 10px;
}

.box-main__text{
    font-size: 18px;
    font-weight: bolder;
}

.box-main__input{
    height: 40px;
    width: 200px;
    font-size: 14px;
    display: inline;
    margin: 10px;
    padding: 10px;
    border: 0.5px solid var(--azul-titulo);
    border-radius: 5px;
}

.box-main__btn{
    background-color: var(--azul-titulo);
    color: var(--blanco-card);
    width: 120px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border-style: none;
    border-radius: 10px;
}

.box-main__btn:hover{
    background-color: var(--azul-cursor);
    cursor: pointer;
}
.box-main__btn:active{
    background-color: var(--azul-click);
}

/*Web Responsive*/
@media screen and (max-width:1021px) {
    .figures{
        width: 100%;
    }
}

@media screen and (max-width:920px) {
    .box{
        margin: 5px;
    }
}

@media screen and (max-width:780px) {
    .box{
        width: 90%;
        margin: 25px;
        height: auto;
    }
}

@media screen and (max-width:600px) {
    .box{
        width: 90%;
        margin: 20px;
        height: auto;
    }

    .header-title{
        font-size: 25px;
    }

    .answer{
        font-size: 20px;
    }
}